<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>RubyCocoa</string>
	<key>uuid</key>
	<string>56B506A3-A7E5-4E0F-92F1-2FBFF7B55F3B</string>
</dict>
</plist>
