<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>RubyCocoa</string>
	<key>ordering</key>
	<array>
		<string>6176DA4C-93A7-460D-B4CC-B7CD98A6A934</string>
		<string>5188A725-BEB5-4CB7-8A3A-77261A3B9F0A</string>
		<string>BE9664B8-0CDB-471C-BF0A-AB29C221BCC1</string>
	</array>
	<key>uuid</key>
	<string>56B506A3-A7E5-4E0F-92F1-2FBFF7B55F3B</string>
</dict>
</plist>
